.card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  /* text-align: center; */
  width: 20%;
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* full width */
    min-width: unset;
  }
}

.card span {
  display: block;
  font-size: 16px;
  margin: 5px 0;
}

.totalIncome {
  font-size: 20px;
  color: #4caf50;
  font-weight: bold;
}

.totalExpense {
  font-size: 20px;
  color: #cf5c54;
  font-weight: bold;
}

.totalBalance {
  font-size: 20px;
  font-weight: bold;
}
.positive {
  color: #4caf50;
}

.negative {
  color: #cf5c54;
}
