.form {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  flex: 1;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--text-color);
}

.form-group input,
.form-group select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
  color: var(--input-text);
  font-size: 14px;
}

#btnAddTransaction {
  width: 100%;
  background-color:var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

#btnAddTransaction:hover {
  opacity: 0.9;
}
