.form {
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #111;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.transactionList {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-wrap: wrap;
  gap: 16px; */
}

.transactionCard {
  border: 1px solid #444;
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f5f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transactionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.transactionBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #444;
}

.transactionAmount {
  font-weight: bold;
}

.transactionAmount.positive {
  color: green;
}

.transactionAmount.negative {
  color: red;
}

.transactionType {
  background-color: #f5f2eb;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 0.8rem;
}
